*.metagen
*.tlog
*.lastbuildstate
*.bi
*.ipch
*.in
*.docx
*.doxy
*.inl
*.cppcheck
*.dat
*.natvis
*.yml
*.md
*.xml
*.targets
*.autopkg
*.nupkg
*.resources
*.obj
*.idb
*.log
*.pch
*.pdb
*.exe
*.ilk
*.enc
*moc_*
.vs/
*/Debug/*
*/Relase/*
GDMwGB/Debug/
GDMwGB/x64/
!Debug/ColorFragmentShader.fragmentshader
!Debug/NoGrainBoundaryFragmentShader.fragmentshader
!Debug/NoGrainFragmentShader.fragmentshader
!Debug/TransformVertexShader.vertexshader
Debug/ColorFragmentShader.fragmentshader
Debug/NoGrainBoundaryFragmentShader.fragmentshader
Debug/NoGrainFragmentShader.fragmentshader
Debug/TransformVertexShader.vertexshader
Release/ColorFragmentShader.fragmentshader
Release/NoGrainBoundaryFragmentShader.fragmentshader
Release/NoGrainFragmentShader.fragmentshader
Release/TransformVertexShader.vertexshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/debug/ColorFragmentShader.fragmentshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/debug/TransformVertexShader.vertexshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/release/ColorFragmentShader.fragmentshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/release/TransformVertexShader.vertexshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/.qmake.stash
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/ColorFragmentShader.fragmentshader
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/Makefile
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/Makefile.Debug
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/Makefile.Release
DMGwGB-Win64/build-DMGwGB-Win64-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug/TransformVertexShader.vertexshader
DMGwGB-Win64/DMGwGB-Win64/x64/Debug/DMGwGB.lib
DMGwGB-Win64/DMGwGB-Win64/debug/ColorFragmentShader.fragmentshader
DMGwGB-Win64/DMGwGB-Win64/debug/Qt5Cored.dll
DMGwGB-Win64/DMGwGB-Win64/debug/Qt5Guid.dll
DMGwGB-Win64/DMGwGB-Win64/debug/Qt5Widgetsd.dll
DMGwGB-Win64/DMGwGB-Win64/debug/TransformVertexShader.vertexshader
DMGwGB-Win64/DMGwGB-Win64/release/ColorFragmentShader.fragmentshader
DMGwGB-Win64/DMGwGB-Win64/release/Qt5Core.dll
DMGwGB-Win64/DMGwGB-Win64/release/Qt5Gui.dll
DMGwGB-Win64/DMGwGB-Win64/release/Qt5Widgets.dll
DMGwGB-Win64/DMGwGB-Win64/release/TransformVertexShader.vertexshader
DMGwGB-Win64/DMGwGB-Win64/x64/Release/DMGwGB.lib
release/DMGwGB.lib
release/Qt5Core.dll
release/Qt5Gui.dll
release/Qt5Widgets.dll
DMGwGB-Win64/DMGwGB-Win64/release/Krzysztof_Madej_DMgWGB.rar
