*.metagen
*.tlog
*.lastbuildstate
*.bi
*.asm
*.ipch
*.in
*.html
*.png
*.css
*.js
*.docx
*.pdf
*.doxy
*.hpp
*.cpp
*.inl
*.h
*.txt
*.cppcheck
*.dat
*.natvis
*.yml
*.gitignore
*.md
*.xml
*.targets
*.autopkg
*.nupkg
*.resources
*.db
.vs/
Debug/
GDMwGB/Debug/
GDMwGB/x64/
!Debug/ColorFragmentShader.fragmentshader
!Debug/NoGrainBoundaryFragmentShader.fragmentshader
!Debug/NoGrainFragmentShader.fragmentshader
!Debug/TransformVertexShader.vertexshader
Debug/ColorFragmentShader.fragmentshader
Debug/NoGrainBoundaryFragmentShader.fragmentshader
Debug/NoGrainFragmentShader.fragmentshader
Debug/TransformVertexShader.vertexshader
Release/ColorFragmentShader.fragmentshader
Release/NoGrainBoundaryFragmentShader.fragmentshader
Release/NoGrainFragmentShader.fragmentshader
Release/TransformVertexShader.vertexshader
