*.metagen
*.tlog
*.lastbuildstate
*.bi
*.asm
*.ipch
*.in
*.html
*.png
*.css
*.js
*.docx
*.pdf
*.doxy
*.hpp
*.cpp
*.inl
*.h
*.txt
*.cppcheck
*.dat
*.natvis
*.yml
*.gitignore
*.md
*.xml
*.targets
*.autopkg
*.nupkg
*.resources
*.db
